<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BabyMom</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>bomt</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<!-- Alarm 패키지를 위한 백그라운드 모드 설정 -->
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>background-fetch</string>
	</array>
	<!-- Alarm 패키지를 위한 백그라운드 태스크 스케줄러 허용 -->
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.gdelataillade.fetch</string>
	</array>
	<!-- 이미지 선택 권한 설명 -->
	<key>NSCameraUsageDescription</key>
	<string>아기 프로필 사진을 촬영하기 위해 카메라 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>아기 프로필 사진을 선택하기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
	<!-- 카카오 로그인 설정 -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<!-- Facebook 로그인 지원 -->
	<key>FacebookAppID</key>
	<string>1879904729467935</string>
	<key>FacebookClientToken</key>
	<string>fee6ea699579678f03835747a2deb54b</string>
	<key>FacebookDisplayName</key>
	<string>BabyMom</string>
	<key>CFBundleURLTypes</key>
	<array>
		<!-- 카카오 로그인 -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao8087e6fd9c5de66bbe66ba7ab29a062b</string>
			</array>
		</dict>
		<!-- 초대 딥링크 -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>bomt.invitation</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bomtapp</string>
				<string>bomt</string>
			</array>
		</dict>
		<!-- Google 로그인 -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Google OAuth Client ID의 reversed client id -->
				<string>com.googleusercontent.apps.373535971104-h7a842pm38pokmuevt8ibs79554m2koe</string>
			</array>
		</dict>
		<!-- Facebook 로그인 -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1879904729467935</string>
			</array>
		</dict>
		<!-- 이메일 인증용 딥링크 -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>babymom.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>babymom</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
